<header>
  <h1>Mobilis: Gérer les livaraisons avec facilité</h1>
</header>

@if (!showApp) {
<div class="login-container">
  <form class="login-form" action="#" (ngSubmit)="handleEmailSubmission()">
    <input
      class="login-input"
      type="text"
      name="email"
      placeholder="Email"
      [(ngModel)]="enteredEmail"
    />
    <br />
    <button class="login-button" type="submit">Login</button>
  </form>
</div>

} @else if(showApp){
<form (ngSubmit)="logoutUser()">
  <button type="submit">Logout</button>
</form>

@if (userType === 'plan') {
<div class="app">
  <div class="livreurs-container">
    <livreurs />
  </div>

  <div class="livraisons-section">
    <img src="/grenoble.png" class="map" alt="grenoble" />
    <div class="toute-livraisons">
      <livraisons [assigned]="true" />
      <livraisons [assigned]="false" />
    </div>
  </div>
</div>
} @else if (userType === 'liv') {
<div class="app">
  <div class="livreurs-container">
    <livreur [livreur]="currentLivreur" />
  </div>

  <div class="livraisons-section">
    <img src="/grenoble.png" class="map" alt="grenoble" />
    <div class="toute-livraisons">
      <livraisons [assigned]="true" />
    </div>
  </div>
</div>
} }
